ALT_DOMAIN_HOME=
CERT_RESOLVER=
COUCHDB_USER=
COUCHDB_PASSWORD=
DOMAIN=
NEXTCLOUD_MAIL_DOMAIN=
NEXTCLOUD_MAIL_FROM_ADDRESS=
NEXTCLOUD_SMTP_HOST=
NEXTCLOUD_SMTP_NAME=
NEXTCLOUD_SMTP_PORT=
NEXTCLOUD_SMTP_SECURE=
REDIS_PASSWORD=
VAULTWARDEN_SMTP_FROM=
VAULTWARDEN_SMTP_HOST=
VAULTWARDEN_SMTP_USERNAME=
TRAEFIK_BACKEND_IPV4=
ZFS_POOL_ROOT_HDD=
