services:
  mariadb:
    # https://hub.docker.com/_/mariadb
    image: mariadb:12.0.2
    container_name: mariadb
    restart: unless-stopped
    environment:
      # https://mariadb.com/kb/en/mariadb-server-docker-official-image-environment-variables/
      - MARIADB_ROOT_PASSWORD_FILE=/run/secrets/mariadb_root_password
    env_file:
      - ./backup_cred.env
    secrets:
      - mariadb_root_password
    labels:
      stack-back.mariadb: true

      # logs collection
      logging: promtail
      logging_jobname: containerlogs
      stackname: home

      # network policy
      whalewall.enabled: true
      whalewall.rules: |
        output:
          # nextcloud database
          - network: common_backend
            container: nextcloud
          # vaultwarden database
          - network: common_backend
            container: vaultwarden
    logging:
      driver: json-file
      options:
        max-size: 1m
        max-file: 1
        tag: "{{.Name}}"
    volumes:
      - mariadb_data:/var/lib/mysql
    networks:
      - backend

secrets:
  mariadb_root_password:
    file: ./mariadb_root_password.txt

volumes:
  mariadb_data:
