services:
  ollama:
    # https://hub.docker.com/r/ollama/ollama/tags
    # https://github.com/ollama/ollama/blob/main/envconfig/config.go#L233
    image: ollama/ollama:0.13.5
    restart: unless-stopped
    container_name: ollama
    # https://github.com/ollama/ollama/issues/6543
    # user: ${HOME_UID}:${HOME_GID}
    labels:
      # logs collection
      logging: promtail
      logging_jobname: containerlogs
      stackname: home    
      # network policy
      whalewall.enabled: true
      whalewall.rules: |
        output:
          # DNS
          - proto: udp
            dst_ports:
              - 53
          # HTTP/S
          - proto: tcp
            dst_ports:
              - 80
              - 443
          # frontend
          - network: common_backend
            container: open-webui
    logging:
      driver: json-file
      options:
        max-size: 1m
        max-file: 1
        tag: "{{.Name}}"
    volumes:
      - ollama_data:/root/.ollama
    networks:
      - backend
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
  
  open-webui:
    # https://github.com/open-webui/open-webui/pkgs/container/open-webui
    # https://github.com/open-webui/open-webui
    image: ghcr.io/open-webui/open-webui:0.6.43
    restart: unless-stopped
    container_name: open-webui
    environment:
      - OLLAMA_BASE_URL=http://ollama:11434
    labels:
      stack-back.volumes: true
      stack-back.volumes.include: "open-webui_data"
      
      # logs collection
      logging: promtail
      logging_jobname: containerlogs
      stackname: home

      traefik.enable: true

      # Listen on http, but redirect all requests to https
      traefik.http.routers.open-webui-http.rule: Host(`openwebui.${DOMAIN}`)
      traefik.http.routers.open-webui-http.entrypoints: http
      traefik.http.routers.open-webui-http.middlewares: redirect-https

      # Direct all https requests to the service, checking with crowdsec first
      traefik.http.routers.open-webui-https.rule: Host(`openwebui.${DOMAIN}`)
      traefik.http.routers.open-webui-https.entrypoints: https
      traefik.http.routers.open-webui-https.tls: true
      traefik.http.routers.open-webui-https.tls.certresolver: ${CERT_RESOLVER}
      traefik.http.routers.open-webui-https.service: open-webui
      traefik.http.routers.open-webui-https.middlewares: crowdsec-bouncer

      traefik.http.services.open-webui.loadbalancer.server.port: 8080

      # network policy
      whalewall.enabled: true
      whalewall.rules: |
        output:
          # DNS
          - proto: udp
            dst_ports:
              - 53
          # HTTP/S
          - proto: tcp
            dst_ports:
              - 80
              - 443
          # reverse proxy
          - network: common_backend
            container: traefik
          # LLM backend
          - network: common_backend
            container: ollama
    logging:
      driver: json-file
      options:
        max-size: 1m
        max-file: 1
        tag: "{{.Name}}"
    volumes:
      - open-webui_data:/app/backend/data
    networks:
      - backend

volumes:
  ollama_data:
  open-webui_data:
