CERT_RESOLVER=
DOMAIN=
EMBY_UID=
MEDIA_UID=
MEDIA_GID=
MEDIA_SHARED_GID=
NAVIDROME_UID=
PLEX_EXPORTER_TOKEN=
PLEX_UID=
QBITTORRENT_UID=
RADARR_API_KEY=
RADARR_UID=
SABNZBD_API_KEY=
SABNZBD_UID=
SONARR_API_KEY=
SONARR_UID=
TZ=
ZFS_POOL_ROOT_HDD=
